{{!-- {{products}} --}}

<div class="container">
    <h1>Carrito de Compras</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
               {{!-- {{log this}}  --}}<!-- Imprime cada elemento de products en la consola -->
                <tr>
                    <td>{{product.title}}</td>
                    <td>{{product.description}}</td>
                    <td>$ {{product.price}}</td>
                    <td>{{quantity}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <!-- Botón "Comprar" -->
    <div class="d-flex justify-content-end mt-3">
        <button onclick="purchase('{{cartID}}')" class="btn btn-primary">Comprar</button>
    </div>
</div>

<script src="/js/cart.js"></script>